agate==1.9.1
ahocorapy==1.6.2
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.94.0
anyio==4.13.0
apparmor==4.1.2
appdirs==1.4.4
archspec==0.2.5
argcomplete==3.6.3
argostranslate==1.11.0
attrs==26.1.0
Authlib==1.4.0
azure-common==1.1.28
azure-core==1.38.0
azure-identity==1.17.1
azure-mgmt-core==1.6.0
azure-mgmt-rdbms==10.2.0b17
azure-mgmt-resource==24.0.0
azure-mgmt-subscription==3.0.0
babel==2.18.0
bcrypt==4.3.0
Beaker==1.12.1
beautifulsoup4==4.14.3
bidict==0.23.1
blinker==1.9.0
blis==1.3.3
boltons==25.0.0
boto3==1.43.2
botocore==1.43.2
Brotli==1.2.0
cachetools==5.5.2
cairocffi==1.7.1
CairoSVG==2.9.0
catalogue==2.0.10
cbor2==5.6.5
certifi==2025.7.9
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.3
click==8.3.1
cloudpathlib==0.23.0
colorama==0.4.6
conda==25.11.0
conda-libmamba-solver==25.4.0
conda-package-handling==2.4.0
conda_package_streaming==0.11.0
confection==0.1.5
ConfigArgParse==1.7.5
configobj==5.0.9
contourpy==1.3.3
cryptography==46.0.7
cssselect==1.3.0
cssselect2==0.8.0
ctranslate2==4.7.1
cuda-bindings==12.9.4
cuda-pathfinder==1.4.3
cupshelpers==1.0
cycler==0.11.0
cymem==2.0.13
daff==1.4.2
dasbus==1.7
dbus-python==1.4.0
decorator==5.2.1
deepdiff==8.6.2
defusedxml==0.7.1
distro==1.9.0
dnf==4.24.0
dnf-app-center==0.1.0
dnspython==2.8.0
docstring_parser==0.17.0
email-validator==2.3.0
emoji==2.15.0
evdev==1.9.3
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.25.2
Flask==3.1.3
flask-babel==4.0.0
Flask-Compress==1.18
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.1.0
Flask-Paranoid==0.3.0
Flask-Principal==0.4.0
Flask-Security-Too==5.6.2
Flask-SocketIO==5.6.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flatbuffers==25.12.19
fonttools==4.61.0
frozendict==2.4.6
fsspec==2026.4.0
future==1.0.0
google-api-core==2.27.0
google-api-python-client==2.179.0
google-auth==2.45.0
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.63.0
greenlet==3.3.2
grpcio==1.48.4
grpcio-status==1.48.4
gssapi==1.7.3
h11==0.16.0
hf-xet==1.4.2
hid==1.0.6
html2text==2025.4.15
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.7.2
humanize==4.13.0
i3ipc==2.2.1
idna==3.10
importlib_metadata==8.9.0
importlib_resources==6.5.2
iniconfig==2.3.0
inkex==1.4.0
isodate==0.7.2
itsdangerous==2.2.0
jaconv==0.5.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
Jinja2==3.1.6
jiter==0.14.0
jmespath==1.0.1
joblib==1.5.3
jsonformatter==0.3.4
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring==25.7.0
kiwisolver==1.5.0
ldap3==2.9
leather==0.4.1
LibAppArmor==4.1.2
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.18.0
libgravatar==1.0.4
libmambapy==2.3.2
llvmlite==0.47.0
lute3==3.10.1
lutris==0.5.22
lxml==6.0.1
magika==0.6.3
Mako==1.2.3
Markdown==3.10.2
markdown-it-py==4.0.0
markdownify==1.2.2
markitdown==0.1.6
MarkupSafe==3.0.3
mashumaro==3.14
matplotlib==3.10.9
mcp==1.26.0
mdurl==0.1.2
menuinst==2.3.1
mercurial==7.1.1
minisbd==0.9.5
moddb==0.12.0
more-itertools==10.8.0
mpmath==1.3.0
msal==1.36.0
msal-extensions==1.3.1
msgpack==1.1.2
msrest==0.7.1
murmurhash==1.0.15
mutagen==1.47.0
natto-py==1.0.1
netifaces==0.11.0
networkx==3.6.1
nftables==0.1
notify2==0.3.1
numba==0.65.1
numpy==2.3.5
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
nwg-displays==0.3.28
nwg-panel==0.10.13
oauthlib==3.2.2
olefile==0.47
onnxruntime==1.24.4
openai-whisper==20250625
opencv-python==4.13.0.92
openepub==0.0.9
orderly-set==5.5.0
packaging==25.0
paramiko==3.5.1
parsedatetime==2.6
passlib==1.7.4
Paste==3.10.1
pathspec==0.12.1
pdfminer.six==20260107
pdfplumber==0.11.10
pexpect==4.9.0
pillow==12.2.0
platformdirs==3.11.0
playwright==1.58.0
pluggy==1.6.0
ply==3.11
preshed==3.0.12
progressbar2==4.5.0
prompt_toolkit==3.0.52
proto-plus==1.22.3
protobuf==6.33.6
psutil==7.0.0
psycopg==3.2.13
psycopg2==2.9.10
ptyprocess==0.7.0
pyasn1==0.6.2
pyasn1_modules==0.4.1
pycairo==1.28.0
pycosat==0.6.6
pycparser==2.22
pycrypto==2.6.1
pycryptodomex==3.23.0
pycups==2.0.4
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
pyee==13.0.1
pygdbmi==0.11.0.0
Pygments==2.19.2
PyGObject==3.54.5
pyinotify==0.9.6
PyJWT==2.12.1
PyMuPDF==1.27.2.3
pymupdf-layout==1.27.2.3
pymupdf4llm==1.27.2.3
PyNaCl==1.5.0
pyOpenSSL==26.1.0
pyotp==2.9.0
pyparsing==3.3.2
pypdf==6.7.3
pypdfium2==5.10.1
pypng==0.0.21
pypresence==4.3.0
pyquery==2.0.1
pyserial==3.5
PySocks==1.7.1
pytest==9.0.2
pytest-mock==3.15.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-engineio==4.13.1
python-multipart==0.0.22
python-slugify==8.0.4
python-socketio==5.16.1
python-utils==3.9.1
python-xlib==0.33
pytimeparse==1.1.8
pytz==2026.1.post1
pywhispercpp==1.4.1
pyxdg==0.28
PyYAML==6.0.2
pyzstd==0.16.2
qrcode==8.0
ranger-fm==1.9.4
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
requests-file==2.0.0
requests-oauthlib==1.3.1
rich==14.3.3
rofimoji==6.7.0
rpds-py==0.30.0
rpm==6.0.1
rpmautospec==0.8.4
rpmautospec-core==0.1.5
rsa==4.9
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.12
s3transfer==0.17.0
sacremoses==0.1.1
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
scour==0.38.2
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
sentence-transformers==5.3.0
sentencepiece==0.2.1
sentry-sdk==2.35.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setproctitle==1.3.7
setuptools==78.1.1
shellingham==1.5.4
shtab==1.7.2
simple-websocket==1.1.0
six==1.17.0
smart_open==7.5.1
sniffio==1.3.1
snowplow-tracker==1.1.0
sos==4.11.1
soupsieve==2.8
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.47
sqlparse==0.5.5
srsly==2.5.2
sse-starlette==3.3.3
sshtunnel==0.4.0
stanza==1.10.1
starlette==1.0.0
subtitle-parser==2.0.1
svgwrite==1.4.3
sympy==1.14.0
systemd-python==235
tabulate==0.10.0
text-unidecode==1.3
thinc==8.3.10
threadpoolctl==3.6.0
tiktoken==0.13.0
tinycss2==1.5.1
tldextract==5.3.0
tokenizers==0.22.2
toml==0.10.2
torch==2.10.0
tqdm==4.67.2
transformers==5.3.0
triton==3.6.0
typer==0.24.1
typer-cli==0.21.2
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
umu-launcher==1.4.0
uritemplate==4.1.1
urllib3==2.6.3
user-agents==2.2.0
uvicorn==0.42.0
VapourSynth==71
waitress==2.1.2
wasabi==1.1.3
wcwidth==0.6.0
weasel==0.4.3
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.6
wrapt==2.1.2
wsproto==1.2.0
WTForms==3.2.1
xmltodict==0.15.1
xxhash==3.7.0
yt-dlp==2026.3.17
zipp==3.23.1
zstandard==0.25.0
